body {
    background-color: #e1f4f3;
    text-align: center;
}

.swipIcon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: -22px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 30px 0 rgb(0 0 0 / 10%);
    z-index: 1;
    cursor: pointer
.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
