body {
    background-color: #370665;
    text-align: center;
}
navbar {
    background-color: #DFD3C3;
}

a {
    color: #C7B198;
}

a:hover {
    color: #C7B198;
  }
card-body{
    text-decoration: underline;
      font-size: large;
}
