body {
    background-color: #2E4C6D;
    text-align: center;
}
navbar {
    background-color: #333333;
}
navbar-brand {
        padding-left: 600px;
}
a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
